<div class="devise_page_container">

  <div class="devise_form_container">

    <div class="devise_login_form">

      <h2>Welcome back!</h2>

        Need an account?

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Register", new_registration_path(resource_name), class: "devise-link" %><br />
        <% end %>

        <br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <!-- <%= f.label :email %><br /> -->
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"your@email.here" %>
          </div>

          <br>

          <div class="field">
            <!-- <%= f.label :password %><br /> -->
            <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>
          </div>

          <!--
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          -->

          <br>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "devise-link" %><br />
          <% end %>

          <br>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <br><br>


        <!--<%= render "devise/shared/links" %>-->

    </div>

    <div class="devise-logo-container">
      <%= show_svg('logo-roster-footer.svg') %>
    </div>

  </div>

</div>
