<% if user_signed_in? %>

  <div class="header_bg">

    <div class="container header_content">

        <%= link_to dashboard_path, class: "header_left_content" do %>
          <%= show_svg('logo-roster.svg') %>
        <% end %>

        <div class="header_center_content">

          <%= content_tag :div, :class => ["center-menu-entry", current_class?(dashboard_path)] do -%>
            <%= link_to dashboard_path, class: "btn-menu" do %>
              <%= show_svg('icon-home.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["center-menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-teams.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["center-menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-fixtures.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["center-menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-bookmarks.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["center-menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-stats.svg') %>
            <% end %>
          <% end %>

        </div>

        <div class="header_right_content">

            <%= link_to edit_user_registration_path, class: "btn_avatar" do %>
              Matthieu
              <div class="circle picture">
                <%= current_user.email[0,1].capitalize %>
              </div>
            <% end %>

          <%= link_to destroy_user_session_path, method: :delete, class: "circle btn_header_action" do %>
            <%= show_svg('icon-logout.svg') %>
          <% end %>

        </div>

    </div>

  </div>

<% end %>
