<% if user_signed_in? %>

  <div class="header_bg">

    <div class="container header_content">

        <div class="header_left_content">
          <%= show_svg('logo-roster.svg') %>
        </div>

        <div class="header_center_content">

          <%= content_tag :div, :class => ["menu-entry", current_class?(authenticated_root_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-home.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-teams.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-fixtures.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-bookmarks.svg') %>
            <% end %>
          <% end %>

          <%= content_tag :div, :class => ["menu-entry", current_class?(teams_path)] do -%>
            <%= link_to teams_path, class: "btn-menu" do %>
              <%= show_svg('icon-stats.svg') %>
            <% end %>
          <% end %>

        </div>

        <div class="header_right_content">

          <button type="button" name="avatar" class="btn_avatar">
            Matthieu
            <div class="circle picture">
              <%= current_user.email[0,1].capitalize %>
            </div>
          </button>

          <button type="button" name="create" class="circle btn_header_action">
            <%= show_svg('icon-create.svg') %>
          </button>

          <button type="button" name="right-menu" class="circle btn_header_action">
            <%= show_svg('icon-expand-black.svg') %>
          </button>

            <!--  <%= current_user.email %>   -->
            <!--  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn_secondary"%>   -->

        </div>

    </div>

  </div>

<% else %>

  Login screen

<% end %>
